[Unit]
Description=Sunrise and sunset timer for %i service

[Timer]
OnCalendar=06,18:00
OnStartupSec=3
RandomizedDelaySec=3
Persistent=true
Unit=%i.service

[Install]
WantedBy=default.target
