[Unit]
Description=Sunrise and sunset timer for %i service

[Timer]
OnCalendar=06,18:00
Persistent=true
RandomizedDelaySec=2
Unit=%i.service

[Install]
WantedBy=default.target
