[Unit]
Description=Sunrise and sunset timer for %i service

[Timer]
OnCalendar=06,18:01
Persistent=true
Unit=%i.service

[Install]
WantedBy=timers.target
