[Unit]
Description=Auto switch theme
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/theme auto
