#items.ytd-grid-renderer>ytd-grid-video-renderer:has(ytd-thumbnail-overlay-time-status-renderer[overlay-style="SHORTS"]),
ytd-item-section-renderer:not(:has(ytd-grid-renderer)):has(ytd-thumbnail-overlay-time-status-renderer[overlay-style="SHORTS"]),
#secondary,
ytd-mini-guide-renderer, 
ytd-guide-renderer,
.ytd-masthead,
.ytp-gradient-bottom {
	display: none !important;
}

#primary {
	width: 100% !important;
	flex: 1 !important;
	max-width: none !important;
}

.ytd-app {
	padding-top: 0 !important;
	margin-left: 0 !important;
}
