#items.ytd-grid-renderer>ytd-grid-video-renderer:has(ytd-thumbnail-overlay-time-status-renderer[overlay-style="SHORTS"]) {
  display: none;
}

ytd-item-section-renderer:not(:has(ytd-grid-renderer)):has(ytd-thumbnail-overlay-time-status-renderer[overlay-style="SHORTS"]) {
  display: none; 
}

#primary {
    width: 100% !important;
    flex: 1 !important;
    max-width: none !important;
}

.ytd-app {
  margin-top: 0 !important;
  padding-top: 0 !important;
  margin-left: 0 !important;
}

html:not(.ytd-watch-flexy) ytd-watch-flexy[flexy] #player {
  width: 100% !important;
  max-width: 1400px;
  margin: 0 auto !important;
}
