#items.ytd-grid-renderer>ytd-grid-video-renderer.ytd-grid-renderer:has([href*="/shorts/"]),
#items.ytd-grid-renderer>ytd-grid-video-renderer:has(ytd-thumbnail-overlay-time-status-renderer[overlay-style="SHORTS"]),
#secondary,
.ytp-gradient-bottom,
[is-shorts],
[title*="Shorts"],
ytd-grid-video-renderer:has([overlay-style="SHORTS"]),
ytd-guide-entry-renderer:has([title="Shorts"]),
ytd-item-section-renderer:not(:has(ytd-grid-renderer)):has(ytd-thumbnail-overlay-time-status-renderer[overlay-style="SHORTS"]),
ytd-reel-item-renderer,
ytd-reel-shelf-renderer,
ytd-reel-shelf-renderer,
ytd-rich-grid-slim-media,
ytd-rich-shelf-renderer,
ytd-video-renderer:has([aria-label="Shorts"]) {
	display: none !important;
}

#primary {
	width: 100% !important;
	flex: 1 !important;
	max-width: none !important;
}

.ytd-app {
	padding-top: 0 !important;
	margin-left: 0 !important;
}

html:not(.ytd-watch-flexy) ytd-watch-flexy[flexy] #player {
	width: 100% !important;
	margin: 0 auto !important;
}
