@define-color foreground #a0a2a0;
@define-color background #0D1116;
@define-color cursor #a0a2a0;

@define-color color0 #0D1116;
@define-color color1 #584430;
@define-color color2 #153249;
@define-color color3 #283A48;
@define-color color4 #2E4557;
@define-color color5 #20435B;
@define-color color6 #375267;
@define-color color7 #a0a2a0;
@define-color color8 #707170;
@define-color color9 #584430;
@define-color color10 #153249;
@define-color color11 #283A48;
@define-color color12 #2E4557;
@define-color color13 #20435B;
@define-color color14 #375267;
@define-color color15 #a0a2a0;
