@import 'colors.css';

* {
	padding: 0;
	border: none;
	border-radius: 0;
	font-family: graphical;
	font-size: 16px;
}

window {
	background: @bg;
	color: @fg;
}

#workspaces .active {
	border-bottom: 1px solid @sf;
}

#workspaces .active, #taskbar .active {
	background: @sb;
	color: @sf;
}

#taskbar button, #tray, #clock {
	padding: 0px 10px;
}

#workspaces button, #idle_inhibitor, #battery, #network, #wireplumber {
	padding: 0px 5px;
}

#battery.critical {
	color: red;
}
