@import 'colors.css';

@define-color bg @color0;
@define-color fg @color8;
@define-color sb @color3;
@define-color sf @color7;

* {
	padding: 0;
	border: none;
	border-radius: 0;
	font-family: graphical;
	font-size: 16px;
}

window#waybar, window#waybar.empty, .modules-left, .modules-right {
	background: @bg;
	color: @fg;
}

window#waybar.empty #window {
	background: transparent;
	color: transparent;
}

#workspaces button, #taskbar button {
	color: @fg;
	border: none;
}

#workspaces button.active {
	color: @sf;
	border-bottom: 1px solid @sf;
}

#workspaces button.active, #taskbar button.active {
	background: @sb;
}

#workspaces button.active, #taskbar button.active, #clock {
	color: @sf;
}

#taskbar button, #tray, #clock {
	padding: 0px 10px;
}

#workspaces button, #battery, #network, #pulseudio {
	padding: 0px 5px;
}

#battery.critical {
	color: red;
}
