@import "colors.css";

* {
	border: none;
	border-radius: 0;
	font-family: graphical;
	font-size: 16px;
}

window, button {
	background: @bg;
	color: @fg;
}

#workspaces .active {
	border-bottom: 1px solid @sf;
}

#workspaces .active, #taskbar .active {
	background: @sb;
	color: @sf;
}

#battery.critical {
	color: red;
}

button, #tray, #clock {
	padding: 0px 9px;
}

#idle_inhibitor, #battery, #network, #wireplumber {
	padding: 0px 5px;
}
