@import "colors-waybar.css";

* {
	border: none;
	border-radius: 0;
	font-family: graphical;
	font-size: 16px;
}

window, button, tooltip, tooltip label {
	background: @color0;
	color: @color8;
}

#workspaces .active {
	border-bottom: 1px solid @color7;
}

#workspaces .active, #taskbar .active {
	background: @color1;
	color: @color0;
}

#battery.critical {
	color: red;
}

button {
	padding: 0px 6px;
}

#tray, #clock {
	padding: 0px 12px;
}

#idle_inhibitor, #battery, #network, #wireplumber {
	padding: 0px 3px;
}

#cpu, #memory, #temperature {
	font-size: 12px;
}
