@import "colors-waybar.css";

/* Main Colors */

@define-color rosewater       #f5e0dc;
@define-color flamingo        #f2cdcd;
@define-color pink            #f5c2e7;
@define-color mauve           #cba6f7;
@define-color red             #f38ba8;
@define-color maroon          #eba0ac;
@define-color peach           #fab387;
@define-color yellow          #f9e2af;
@define-color green           #a6e3a1;
@define-color teal            #94e2d5;
@define-color sky             #89dceb;
@define-color sapphire        #74c7ec;
@define-color blue            #89b4fa;
@define-color lavender        #b4befe;
@define-color text            #cdd6f4;
@define-color subtext1        #bac2de;
@define-color subtext0        #a6adc8;
@define-color overlay2        #9399b2;
@define-color overlay1        #7f849c;
@define-color overlay0        #6c7086;
@define-color surface2        #585b70;
@define-color surface1        #45475a;
@define-color surface0        #313244;
@define-color base            #1e1e2e;
@define-color mantle          #181825;
@define-color crust           #11111b;

@define-color main-fg         @color8;
@define-color main-bg         @color0;
@define-color main-br         @color8;
@define-color active-bg       @overlay2;
@define-color active-fg       @color0;
@define-color hover-bg        @surface0;
@define-color hover-fg        alpha(@main-fg, 0.75);
@define-color shadow          shade(@main-bg, 0.5);

/* Module Colors */

@define-color module-fg       @color8;
@define-color workspaces      @mantle;
@define-color temperature     @mantle;
@define-color memory          @base;
@define-color cpu             @surface0;
@define-color logo-fg         @color3;
@define-color logo-bg         @overlay2;
@define-color pulseaudio      @surface0;
@define-color sourceaudio     @base;
@define-color battery         @mantle;
@define-color tray            @mantle;
@define-color date            @base;
@define-color time            @surface0;
@define-color power           @overlay2;

/* State Colors */

@define-color warning         @yellow;
@define-color critical        @red;
@define-color charging        @color8;

* {
	font-family: graphical;
	font-weight: bold;
	min-height: 0;
	padding: 0;
	border: none;
	margin: 0;
}

/* Main Background */

window#waybar > box {
	background-color: @main-bg;
	padding: 1px;
}

/* Main Shadow */

window#waybar {
	background: @shadow;
}

/* Tooltip */

tooltip {
	background: @main-bg;
	border: 1px solid @main-br;
	border-radius: 6px;
}
tooltip label {
	color: @main-fg;
	font-weight: normal;
	margin: -1.5px 3px;
}
tooltip decoration {
	border: none;
	background-color: transparent;
}

/* Workspace Buttons */

#workspaces button {
	color: @module-fg;
	border-radius: 8px;
	box-shadow: none;
	margin: 2px 0;
	padding: 0 2px;
	transition: none;
}
#workspaces button:hover {
	color: @hover-fg;
	background: @hover-bg;
	text-shadow: none;
}
#workspaces button.active {
	color: @active-fg;
	background: @active-bg;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
	margin: 2px;
	padding: 0 6px;
}

/* <<--< General >-->> */

#custom-start,
#workspaces,
#window,
#temperature,
#memory,
#cpu,
#pulseaudio,
#battery,
#mpris,
#tray,
#custom-usb,
#idle_inhibitor,
#bluetooth,
#network,
#clock,
#custom-power {
	opacity: 1;
	color: @module-fg;
	padding: 0 5px;
}

#custom-start:hover,
#window:hover,
#temperature:hover,
#memory:hover,
#cpu:hover,
#custom-logo:hover,
#pulseaudio:hover,
#battery:hover,
#mpris:hover,
#tray:hover,
#custom-usb:hover,
#idle_inhibitor:hover,
#bluetooth:hover,
#network:hover,
#clock:hover,
#custom-power:hover {
	color: @hover-fg;
}

#custom-left1,
#custom-left2,
#custom-left3,
#custom-left4,
#custom-left5,
#custom-left6,
#custom-left7,
#custom-left8 {
	margin-bottom: 0px;
	padding-left: 4px;
	text-shadow: -3px 1px 2px rgba(0, 0, 0, 0.5);
}

#custom-right1,
#custom-right2,
#custom-right3,
#custom-right4,
#custom-right5 {
	margin-bottom: 0px;
	padding-right: 4px;
	text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Start Button */

#custom-start {
	background: @main-bg;
}

/* Workspaces */

#custom-left1 {
	color: @workspaces;
	background: @main-bg;
}
#workspaces {
	background: @workspaces;
}
#custom-right1 {
	color: @workspaces;
	background: @main-bg;
}

/* Window */

#window {
	font-weight: normal;
	background-color: @main-bg;
	padding: 0 8px;
}

/* Temperature */

#custom-left2 {
	color: @temperature;
	background: @main-bg;
}
#temperature {
	background: @temperature;
}
#temperature.warning {
	color: @warning;
}
#temperature.critical {
	color: @critical;
}

/* Memory */

#custom-left3 {
	color: @memory;
	background: @temperature;
}
#memory {
	background: @memory;
}
#memory.warning {
	color: @warning;
}
#memory.critical {
	color: @critical;
}

/* CPU */

#custom-left4 {
	color: @cpu;
	background: @memory;
}
#cpu {
	background: @cpu;
}
#cpu.warning {
	color: @warning;
}
#cpu.critical {
	color: @critical;
}
#custom-leftin1 {
	color: @cpu;
	margin-bottom: -1px;
}

/* Logo */

#custom-left5 {
	color: @logo-bg;
	background: @main-bg;
	text-shadow: none;
	margin-bottom: -1px;
}
#custom-logo {
	color: @logo-fg;
	background: @logo-bg;
	margin: 0 0 -1px 0;
	padding: 0 5px 0 5px;
	text-shadow: 0 0 1.5px rgba(0, 0, 0, 1);
}
#custom-right2 {
	color: @logo-bg;
	background: @main-bg;
	text-shadow: none;
	margin-bottom: -1px;
}

/* Volume */

#custom-rightin1 {
	color: @pulseaudio;
	margin-bottom: -1px;
}
#pulseaudio {
	background: @pulseaudio;
}
#custom-right3 {
	color: @pulseaudio;
	background: @sourceaudio;
}

/* Microphone */

#pulseaudio.source {
	background: @sourceaudio;
}
#custom-right4 {
	color: @sourceaudio;
	background: @battery;
}

/* Battery */

#battery {
	background: @battery;
}
#battery.warning {
	color: @warning;
}
#battery.critical {
	color: @critical;
}
#battery.charging {
	color: @charging;
}
#custom-right5 {
	color: @battery;
	background: @main-bg;
}

/* Media Info */

#mpris {
	font-weight: normal;
	background-color: @main-bg;
	padding: 0 8px;
}

/* Tray */

#custom-left6 {
	color: @tray;
	background: @main-bg;
}
#tray {
	background: @tray;
	padding-right: 10px;
}
#custom-usb {
	background: @tray;
}
#idle_inhibitor {
	background: @tray;
}
#bluetooth {
	background: @tray;
}
#network {
	background: @tray;
	padding-right: 10px;
}

/* Date */

#custom-left7 {
	color: @date;
	background: @tray;
}
#clock.date {
	background: @date;
}

/* Time */

#custom-left8 {
	color: @time;
	background: @date;
}
#clock.time {
	background: @time;
}

/* Power Button */

#custom-leftin2 {
	color: @time;
	background: @main-bg;
	margin-bottom: -1px;
}
#custom-power {
	color: @main-bg;
	background: @power;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.6);
	border-radius: 10px;
	margin: 2px 4px 2px 4px;
	padding: 0 6px 0 9px;
}
#custom-power:hover {
	background: @hover-bg;
	text-shadow: none;
	box-shadow: none;
}

/* FONT SIZES */

/*
	NOTE: Be careful when changing font sizes, as they
	can affect alignment.

	Try adjusting whole numbers first, then refine with
	decimals.

	If you increase or decrease a value, make the same
	change to all properties in this section to keep
	the layout consistent.
*/

/* modules */
* {
	font-size: 11px;
}
tooltip label {
	font-size: 12px;
}

/* left and right arrows */
#custom-left1,
#custom-left2,
#custom-left3,
#custom-left4,
#custom-left5,
#custom-left6,
#custom-left7,
#custom-left8,
#custom-right1,
#custom-right2,
#custom-right3,
#custom-right4,
#custom-right5 {
	font-size: 15px;
}

/* left and right inverse */
#custom-leftin1,
#custom-leftin2,
#custom-rightin1 {
	font-size: 17px;
}

/* logo icon */
#custom-logo {
	font-size: 12px;
}

/* logo arrows override */
#custom-left5,
#custom-right2 {
	font-size: 17px;
}

/*
	Adjust these properties as well to keep the design
	consistent.
*/

#workspaces button {
	border-radius: 8px;
	padding: 0 2px;
}
#workspaces button.active {
	padding: 0 4px;
}
#custom-logo {
	padding: 0 5px 0 5px;
}
#custom-start {
	padding: 0 1px 0 6px;
}
#custom-power {
	border-radius: 10px;
	padding: 0 9px 0 9px;
}
