* {
	border: none;
	border-radius: 0;
	color: #000000;
	font-family: graphical;
	font-size: 14px;
	font-weight: bold;
	min-height: 0;
}

window, #custom-start, button, menu, .modules-right {
	background: #c0c0c0;
}

window {
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #000000;
}

#custom-start, button, menu {
	border-top: 1px solid #ffffff;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #ffffff;
	box-shadow: inset 1px 1px 0px #dfdfdf, inset -1px -1px 0px #808080;
}

#custom-start, button, menu, .modules-right {
	margin-top: 3px;
	margin-right: 2px;
	margin-bottom: 3px;
	margin-left: 2px;
	padding: 2px 6px;
}

button.active, .modules-right {
	border-top: 1px solid #000000;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	border-left: 1px solid #000000;
	box-shadow: inset 1px 1px 0px #808080, inset -1px -1px 0px #dfdfdf;
}

button.active {
	background: #e0e0e0;
}

button label, menu label {
	font-family: sans-serif;
	font-size: 11px;
}

menu menuitem:hover {
	background: #000080;
}

menu menuitem:hover label {
	color: #ffffff;
}

menu separator {
	border-top: 1px solid #808080;
	border-bottom: 1px solid #ffffff;
	margin: 3px 2px;
}

tooltip {
	background: #ffffe1;
	border: 1px solid #000000;
}

#temperature, #tray, #idle_inhibitor, #battery, #network, #wireplumber {
	padding: 0px 3px;
}

#clock {
	padding-left: 9px;
}
