@import "colors.css";

* {
	font-family: monospace;
}

window#waybar {
	all: unset;
}

.modules-left {
	padding: 7px;
	margin: 5px;
	border-radius: 10px;
	background: alpha(@background, .7);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
.modules-center {
	padding: 7px;
	margin: 5px;
	border-radius: 10px;
	background: alpha(@background, .8);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
.modules-right {
	padding: 7px;
	margin: 5px;
	border-radius: 10px;
	background: alpha(@background, .7);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

tooltip {
	background: alpha(@background, .9);
}

#clock {
	color: @color4;
}

#battery,
#bluetooth,
#cpu,
#custom-power,
#custom-settings,
#custom-usb,
#custom-weather,
#idle_inhibitor,
#memory,
#mpris,
#network,
#pulseaudio,
#temperature,
#tray,
#tray menu *,
#tray menu separator {
	padding: 0px 5px;
	transition: all .3s ease; 
	color: @color7;
}

#battery:hover,
#bluetooth:hover,
#clock:hover,
#cpu:hover,
#custom-power:hover,
#custom-settings:hover,
#custom-usb:hover,
#custom-weather:hover,
#idle_inhibitor:hover,
#memory:hover,
#mpris:hover,
#network:hover,
#pulseaudio:hover,
#temperature:hover,
#tray:hover,
#tray menu *:hover,
#tray menu separator:hover {
	color: @color9;
}

#workspaces {
	padding: 0px 5px;
}
#workspaces button {
	all: unset;
	padding: 0px 5px;
	color: rgba(0, 0, 0, 0);
	transition: all .5s ease;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, .5);
}
#workspaces button:hover {
	transition: all .5s ease;
	color: rgba(0, 0, 0, 0);
	text-shadow: 0px 0px 1px rgba(0, 0, 0, .8);
}
#workspaces button.active {
	color: @color9;
	border: none;
	transition: all .5s ease;
}
#workspaces button.empty {
	color: rgba(0, 0, 0, 0);
	border: none;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
	color: rgba(0, 0, 0, 0);
	border: none;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, .5);
}
#workspaces button.empty.active {
	color: @color9;
	border: none;
	transition: all .5s ease;
}
