@define-color bg #323232;
@define-color fg #ffffff;
@define-color fs #225877;

* {
	border: none;
	border-radius: 0;
}

window#waybar {
	background: @fs;
	color: @fg;
	font-family: monospace;
	font-size: 16px;
}

window#waybar.empty, .modules-left, .modules-right {
	background: @bg;
}

window#waybar.empty #window {
	background: transparent;
	color: transparent;
}

#workspaces button {
	padding: 0px 5px;
}

#workspaces button.visible, #window {
	background: @fs;
	text-decoration-line: underline;
}

#window, #clock {
	padding: 0px 10px;
}

#tray, #temperature, #battery, #network, #pulseudio {
	padding: 0px 5px 0px 5px;
}
