@import "colors-waybar.css";

* {
	font-family: graphical;
	font-size: 16px;
	border-radius: 0;
	box-shadow: none;
}

window#waybar {
	background: @background;
}

#custom-logo:hover,
#cpu:hover,
#memory:hover,
#bluetooth:hover,
#network:hover,
#pulseaudio:hover,
#pulseaudio.microphone:hover,
#pulseaudio.sink-muted:hover,
#custom-powermenu:hover {
	opacity: 0.5;
}

#custom-logo,
#cpu,
#mpris,
#privacy,
#custom-menu,
#tray,
#backlight,
#battery,
#bluetooth,
#network,
#pulseaudio.microphone,
#pulseaudio,
#custom-powermenu,
#clock {
	color: @foreground;
	padding: 6px 0;
}

tooltip {
	background: @background;
	border: 1px solid @foreground;
}
tooltip * {
	color: @foreground;
	margin: 2px;
	background: @background;
}

#workspaces button {
	color: @foreground;
	padding: 0;
}
#workspaces button.active {
	color: @color2;
}

#mpris {
	color: @color3;
}

#privacy {
	margin: 4px;
	color: @color3;
}

#battery.plugged {
	color: @color4;
}
#battery.charging {
	color: @color2;
}
#battery.critical {
	color: @color3;
}

#bluetooth.disabled {
	color: @color1;
}
#bluetooth.connected {
	color: @color4;
}

#network.disabled {
	color: @color1;
}
#network.wifi {
	color: @color2;
}
#network.ethernet {
	color: @color3;
}

#pulseaudio.sink-muted:not(.microphone) {
	color: @color3;
}
#pulseaudio.microphone.source-muted {
	color: @color1;
}

#pulseaudio-slider,
#backlight-slider {
	min-height: 80px;
}

#pulseaudio-slider slider,
#backlight-slider slider {
	background: transparent;
}

#pulseaudio-slider trough,
#backlight-slider trough {
	min-width: 8px;
}

#pulseaudio-slider highlight {
	background: @color4;
}
#backlight-slider highlight {
	background: @color3;
}

#clock {
	color: @color4;
}
