* {
	border: none;
	border-radius: 0;
	color: #000000;
	font-family: sans-serif;
	font-size: 11px;
	min-height: 0;
	text-shadow: none;
}

window, #custom-start, button, menu, .modules-right {
	background: #c0c0c0;
}

button.active {
	background: #e0e0e0;
}

menu menuitem:hover {
	background: #000080;
}

menu menuitem:hover label {
	color: #ffffff;
}

#temperature.cpu {
	color: #0071c5;
}

#temperature.gpu {
	color: #00a859;
}

window {
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #000000;
}

#custom-start, button, menu {
	border-top: 1px solid #ffffff;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #ffffff;
	box-shadow: inset 1px 1px 0px #c0c0c0, inset -1px -1px 0px #808080;
}

button.active, .modules-right {
	border-top: 1px solid #000000;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	border-left: 1px solid #000000;
	box-shadow: inset 1px 1px 0px #808080, inset -1px -1px 0px #c0c0c0;
}

menu separator {
	border-top: 1px solid #808080;
	border-bottom: 1px solid #ffffff;
}

tooltip {
	background: #ffffe1;
	border: 1px solid #000000;
}

#custom-start, button, menu separator, .modules-right {
	margin: 3px 2px;
}

#custom-start, button, menu, .modules-right {
	padding: 2px 3px;
}

button label, tooltip label {
	padding: 0px;
}

#temperature, #tray, #idle_inhibitor, #battery, #network, #wireplumber, #clock {
	padding: 0px 3px;
}

#taskbar button {
	min-width: 150px;
}

#custom-start, button.active label {
	font-size: 10.5px;
	font-weight: bold;
}

menu label {
	font-family: monospace;
	font-size: 12px;
}

#custom-start, #idle_inhibitor, #battery, #network, #wireplumber {
	background-repeat: no-repeat;
}

#custom-start {
	background-position: 3px center;
	background-size: 18px;
}

#idle_inhibitor, #battery, #network, #wireplumber {
	background-position: 1px center;
	background-size: 14px;
	min-width: 10px;
}

#custom-start {
	background-image: url("/usr/share/icons/Chicago95/places/scalable/start-here.svg");
}

#idle_inhibitor.activated {
	background-image: url("/usr/share/icons/Chicago95/actions/scalable/system-reboot.svg");
}

#idle_inhibitor.deactivated {
	background-image: url("/usr/share/icons/Chicago95/actions/scalable/system-lock-screen.svg");
}

#battery.0 {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/battery-level-0.svg");
}

#battery.10 {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/battery-level-10.svg");
}

#battery.20 {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/battery-level-20.svg");
}

#battery.30 {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/battery-level-30.svg");
}

#battery.40 {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/battery-level-40.svg");
}

#battery.50 {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/battery-level-50.svg");
}

#battery.60 {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/battery-level-60.svg");
}

#battery.70 {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/battery-level-70.svg");
}

#battery.80 {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/battery-level-80.svg");
}

#battery.90 {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/battery-level-90.svg");
}

#battery.100 {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/battery-level-100.svg");
}

#battery.charging.0 {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/battery-level-0-charging.svg");
}

#battery.charging.10 {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/battery-level-10-charging.svg");
}

#battery.charging.20 {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/battery-level-20-charging.svg");
}

#battery.charging.30 {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/battery-level-30-charging.svg");
}

#battery.charging.40 {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/battery-level-40-charging.svg");
}

#battery.charging.50 {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/battery-level-50-charging.svg");
}

#battery.charging.60 {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/battery-level-60-charging.svg");
}

#battery.charging.70 {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/battery-level-70-charging.svg");
}

#battery.charging.80 {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/battery-level-80-charging.svg");
}

#battery.charging.90 {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/battery-level-90-charging.svg");
}

#battery.charging.100 {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/battery-level-100-charging.svg");
}

#network.wifi.quality-low {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/network-wireless-0.svg");
}

#network.wifi.quality-medium {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/network-wireless-50.svg");
}

#network.wifi.quality-high {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/network-wireless-100.svg");
}

#network.ethernet {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/network-wired.svg");
}

#network.disconnected {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/network-offline.svg");
}

#wireplumber.low {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/audio-volume-low.svg");
}

#wireplumber.medium {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/audio-volume-medium.svg");
}

#wireplumber.high {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/audio-volume-high.svg");
}

#wireplumber.muted {
	background-image: url("/usr/share/icons/Chicago95/status/scalable/audio-volume-muted.svg");
}
