include "../../.cache/wal/colors-niri.kdl"

prefer-no-csd

spawn-at-startup "autostart"

input {
	keyboard {
		numlock
	}
	touchpad {
		tap
		natural-scroll
	}
	focus-follows-mouse
}

layout {
	gaps 6
	default-column-width {}
	background-color "transparent"
	focus-ring {
		off
	}
	border {
		on
		width 1
	}
	shadow {
		on
	}
	struts {
		top 4
		right 8
		bottom 4
		left 8
	}
}

cursor {
	hide-when-typing
	hide-after-inactive-ms 5000
}

hotkey-overlay {
	skip-at-startup
}

binds {
	Mod+1                 { focus-workspace 1; }
	Mod+2                 { focus-workspace 2; }
	Mod+3                 { focus-workspace 3; }
	Mod+4                 { focus-workspace 4; }
	Mod+5                 { focus-workspace 5; }
	Mod+6                 { focus-workspace 6; }
	Mod+7                 { focus-workspace 7; }
	Mod+8                 { focus-workspace 8; }
	Mod+9                 { focus-workspace 9; }
	Mod+Shift+1           { move-column-to-workspace 1; }
	Mod+Shift+2           { move-column-to-workspace 2; }
	Mod+Shift+3           { move-column-to-workspace 3; }
	Mod+Shift+4           { move-column-to-workspace 4; }
	Mod+Shift+5           { move-column-to-workspace 5; }
	Mod+Shift+6           { move-column-to-workspace 6; }
	Mod+Shift+7           { move-column-to-workspace 7; }
	Mod+Shift+8           { move-column-to-workspace 8; }
	Mod+Shift+9           { move-column-to-workspace 9; }
	Mod+A                 { spawn "terminal"; }
	Mod+B                 { spawn "browser"; }
	Mod+C                 { spawn "tui" "bc -l"; }
	Mod+D                 { spawn "transmenu"; }
	Mod+E                 { spawn "editor"; }
	Mod+F                 { spawn "explorer"; }
	Mod+G                 { spawn "steam"; }
	Mod+H                 { spawn "aboutmenu"; }
	Mod+I                 { spawn "settings"; }
	Mod+L                 { spawn "powermenu"; }
	Mod+M                 { spawn "tui" "aerc"; }
	Mod+N                 { spawn "tui" "newsraft"; }
	Mod+O                 { toggle-overview; }
	Mod+P                 { spawn "tui" "cmus"; }
	Mod+Q                 { close-window; }
	Mod+R                 { spawn "launcher"; }
	Mod+S                 { spawn "screenshot"; }
	Mod+T                 { spawn "topper"; }
	Mod+V                 { spawn "clipmenu"; }
	Mod+Delete            { maximize-column; }
	Mod+Minus             { set-column-width "-5%"; }
	Mod+Equal             { set-column-width "+5%"; }
	Mod+Backspace         { toggle-window-floating; }
	Mod+BracketLeft       { consume-or-expel-window-left; }
	Mod+BracketRight      { consume-or-expel-window-right; }
	Mod+Return            { fullscreen-window; }
	Mod+Down              { focus-window-or-workspace-down; }
	Mod+Up                { focus-window-or-workspace-up; }
	Mod+Left              { focus-column-left; }
	Mod+Right             { focus-column-right; }
	Mod+WheelScrollDown   { focus-workspace-down; }
	Mod+WheelScrollUp     { focus-workspace-up; }
	Mod+WheelScrollLeft   { focus-column-left; }
	Mod+WheelScrollRight  { focus-column-right; }
	XF86AudioMute         { spawn "volume" "toggle"; }
	XF86AudioMicMute      { spawn "volume" "toggle" "@DEFAULT_SOURCE@"; }
	XF86AudioLowerVolume  { spawn "volume" "down"; }
	XF86AudioRaiseVolume  { spawn "volume" "up"; }
	XF86MonBrightnessDown { spawn "brightnessctl" "s" "5%-"; }
	XF86MonBrightnessUp   { spawn "brightnessctl" "s" "5%+"; }
}

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

layer-rule {
	match namespace="waybar"
	opacity 0.95
}

window-rule {
	opacity 0.85
	geometry-corner-radius 4
	clip-to-geometry true
}

window-rule {
	match is-focused=true
	opacity 0.95
}

window-rule {
	match app-id=".*freecad.*"
	match app-id="blender"
	match app-id="Darktable"
	match app-id="krita"
	match app-id="mpv"
	match app-id="resolve"
	match title=".*YouTube -.*"
	opacity 1.0
}

window-rule {
	match app-id="fullscreen"
	match app-id="screensaver"
	match app-id="steam_app_.*"
	open-fullscreen true
	open-focused true
}

window-rule {
	match app-id=".*config.*"
	match app-id="center"
	match app-id="Pinentry-.*"
	match app-id="xdg-desktop-portal-.*"
	open-floating true
	open-focused true
}

window-rule {
	match title="^Picture.?in.?[Pp]icture$"
	open-floating true
	default-floating-position x=20 y=16 relative-to="bottom-right"
}
