@import '../../../waybar/colors.css';

* {
	all: unset;
}

* {
	font-family: terminal;
	font-size: 16px;
	color: @fg;
}

.box-wrapper {
	background: alpha(@bg, 0.95);
	padding: 10px;
	border: 1px solid @gg;
	border-radius: 10px;
}

.search-container {
	background: @bg;
	padding: 10px;
}

.input placeholder {
	opacity: 0.5;
}

child:selected .item-box * {
	color: @gg;
}

.item-box {
	padding-left: 10px;
}

.item-text-box {
	all: unset;
	padding: 10px 0;
}

.item-subtext {
	font-size: 0px;
	min-height: 0px;
	margin: 0px;
	padding: 0px;
}

.item-image {
	margin-right: 10px;
}

.keybind-hints {
	background: @bg;
	padding: 5px;
	margin-top: 10px;
}

.preview {
	background: @bg;
}
