@import '../../../waybar/colors.css';

* {
	all: unset;
}

* {
	font-family: terminal;
	font-size: 18px;
	color: @fg;
}

scrollbar {
	opacity: 0;
}

.normal-icons {
	-gtk-icon-size: 16px;
}

.large-icons {
	-gtk-icon-size: 32px;
}

.box-wrapper {
	background: alpha(@bg, 0.95);
	padding: 20px;
	border: 2px solid @fg;
}

.preview-box {
}

.box {
}

.search-container {
	background: @bg;
	padding: 10px;
}

.input placeholder {
	opacity: 0.5;
}

.input {
}

.input:focus,
.input:active {
	box-shadow: none;
	outline: none;
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
}

child,
child > * {
}

child:hover .item-box {
}

child:selected .item-box {
}

child:selected .item-box * {
	color: @gg;
}

.item-box {
	padding-left: 14px;
}

.item-text-box {
	all: unset;
	padding: 14px 0;
}

.item-text {
}

.item-subtext {
	font-size: 0px;
	min-height: 0px;
	margin: 0px;
	padding: 0px;
}

.item-image {
	margin-right: 14px;
	-gtk-icon-transform: scale(0.9);
}

.current {
	font-style: italic;
}

.keybind-hints {
	background: @bg;
	padding: 10px;
	margin-top: 10px;
}

.preview {
	background: @bg;
}
