/* pywalfox */
#main-window {
	--pywalfox-background: var(--lwt-accent-color);
	--pywalfox-background-light: var(--arrowpanel-background);
	--pywalfox-text: var(--arrowpanel-color);
	--pywalfox-text-focus: var(--toolbar-color);
}
button, menu, menuitem, menupopup, menuseparator, notification, search, #statuspanel-label {
	-moz-appearance: none !important;
	background-color: var(--pywalfox-background) !important;
	color: var(--pywalfox-text) !important;
}
menu[_moz-menuactive="true"], menuitem[_moz-menuactive="true"] {
	-moz-appearance: none !important;
	background-color: var(--pywalfox-background-light) !important;
	color: var(--pywalfox-text-focus) !important;
}
